


form label {
    display: inline-block;
    width: 100px;
    }

.container{
    font-size: 20px;
    background-color:
    #a3989f
    ;
    padding: 15px;
    font-weight: 500;
    margin-top: 30px;


}


.intro{
    margin-top: 50px;
    
}
#p-2{
        margin-top: 50px;
    }