


form label {
    display: inline-block;
    width: 100px;
    }
.container{
    font-size: 20px;
    background-color:#a5c3e8;
    padding: 15px;
    font-weight: 500;


}


.intro{
    margin-top: 50px;
    
}
.p-2{
        margin-top: 50px;
    }